<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환율조회</title>
</head>
<body>
    <div>
        <h1><a href="">환율조회</a></h1>
    </div>

    <div class="search">
        <form action="">
            <ul class="filter-row">
                <li>
                    <label for="years">조회연도</label>
                    <div class="filter-list" style="width: 125px;">
                        <select name="" id="years">
                            <option value="" disabled selected>선택하세요</option>
                            <option value="1">2019</option>
                            <option value="2">2018</option>
                            <option value="3">2017</option>
                            <option value="4">2016</option>
                            <option value="5">2015</option>
                            <option value="6">2014</option>
                            <option value="7">2013</option>
                            <option value="8">2012</option>
                            <option value="9">2011</option>
                            <option value="10">2010</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label for="months">조회월</label>
                    <div class="filter-list" style="width: 125px;">
                        <select name="" id="months">
                            <option value="" disabled selected>선택하세요</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="10">11</option>
                            <option value="10">12</option>
                        </select>
                    </div>
                </li>
                <input type='submit' value="조회">
            </ul>
        </form>
    </div>
</body>
</html>