<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환율조회</title>
</head>
<body>
    <div>
        <h1><a href="">환율조회</a></h1>
    </div>

    <div class="search">
        <form action="" method="POST" >{% csrf_token %}
            {{ form }}
            <ul class="filter-row">
                <li>
                    <label for="years">조회연도</label>
                    <div class="filter-list" style="width: 125px;">
                        <select name="years" id="years">
                            <option value="" disabled selected>선택하세요</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label for="months">조회월</label>
                    <div class="filter-list" style="width: 125px;">
                        <select name="months" id="months">
                            <option value="" disabled selected>선택하세요</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="10">11</option>
                            <option value="10">12</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label for="curr">통화</label>
                    <div class="filter-list" style="width: 125px;">
                        <select name="curr" id="curr">
                            <option value="" disabled selected>선택하세요</option>
                            <option value="EUR">EUR</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                </li>
                <input type='submit' value="조회">
            </ul>
        </form>
    </div>
</body>
</html>
